body{
    background-color: #7B04AE;
    font-family: 'Dosis', sans-serif;
    position: relative;
}

.stop-scrolling{
    height: 100%;
    overflow: hidden;
}

main{
    height: 100%;
    overflow: hidden;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#title {
    text-align: center;
    font-size: 5em;
}

#author{
    font-size: 50px;
    color: white;
    text-align: center;
}

#card-count {
    margin-bottom: 300px;
    margin-top: 5px;
    text-align: center;
    color: white;
    font-size: 30px;
}

#card-count span {
    font-size: 40px;
}